.loading {
  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(1, 1, 1, 0.1);
  
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.loadingBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  
  padding: 15px;
  width: 70px;
  height: 70px;

  border-radius: 20px;
  // background: rgb(230, 230, 230);

  position: relative;
}

.loadingText {
  position: relative;
  display: flex;
  align-items: flex-end;
  color: rgb(77, 77, 77);
}

.dots {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 4px;
  left: 3px;
  span {
    display: block;
    border-radius: 50%;
    height: 3px;
    width: 3px;
    margin: 0 1px;
    background-color: rgb(77, 77, 77);
    animation: fade 1500ms infinite cubic-bezier(.59,.05,.94,.1);
    &:nth-child(2) {
      animation: fade 1500ms 100ms infinite cubic-bezier(.59,.05,.94,.1);
    }
    &:nth-child(3) {
      animation: fade 1500ms 200ms infinite cubic-bezier(.59,.05,.94,.1);
    }
  }
}

@keyframes fade {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}