.loading {
  position: absolute;
  top: 0;
  left: 0;
  
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingBox {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 150px;
  height: 80px;

  border-radius: 15px;
  background: white;
  
  position: relative;
}