.input {
  cursor: pointer;

  position: relative;
  
  border: 1px solid grey;
  border-radius: 5px;
  padding-left: 15px;

  display: flex;
  align-items: center;

  width: 100%;
  height: 36px;
}

.down {
  position: absolute;
  right: 10px;
  top: 0;

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}