@use '/src/app/globalutil.scss';

.input {
  cursor: pointer;

  position: relative;
  
  border: 1px solid grey;
  border-radius: 5px;

  padding-left: 8px;
  
  display: flex;
  align-items: center;

  width: 100%;
  height: 36px;


  &.disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  &.invalid {
    border-color: red;
  }
}

.down {
  position: absolute;
  right: 10px;
  top: 0;

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.options {
  cursor: auto;
  background: #f8f8f8;
  
  position: absolute;
  top: 38px;
  left: 0;

  overflow-y: auto;

  z-index: 20;
  
  width: 100%;
  height: fit-content;
  border: 1px solid grey;
  border-radius: 5px;
}


.empty {
  padding: 6px;
  font-size: 12px;
  opacity: 0.8;
}

.errorMessage {
  @include globalutil.light_shadow;
  
  position: absolute;
  z-index: 1;
  background-color: white;

  display: flex;
  align-items: center;

  margin-bottom: 8px;
  white-space: nowrap;
  width:fit-content;
  padding: 6px 12px;

  border: 1px solid rgba(125, 125, 125, 0.222);
  border-radius: 3px;

  top: calc(100% + 4px);
  color: rgba(232, 47, 37, 0.892);

  transition: opacity 200ms, left 200ms;
  animation: inLeft 200ms ease-in-out 0s 1 forwards;

  p {
    font-size: 12px;
    font-weight: 300;
  }
}

@keyframes inLeft {
  from {
    top: calc(100% + 20px);
    opacity: 0;
  }
  to {
    top: calc(100% + 4px);
    opacity: 1;
  }
}