.action {
  color: var(--font-utility);
  cursor: pointer;

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  > div {
    opacity: 0.8;
    transition: opacity 200ms, background-color 200ms;
    padding: 5px 12px;
    border-radius: 3px;

    > p {
      font-weight: 400;
      font-size: 12px;
    }

    display: flex;
    align-items: center;
    justify-content: center;

    &:not(:hover) {
      background-color: transparent !important;
    }
  }
}

.icon {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 7px;
}