.action {
  color: var(--font-utility);
  cursor: pointer;

  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;

  > p {
    opacity: 0.8;
    transition: opacity 200ms, background-color 200ms;
    padding: 5px 12px;
    border-radius: 3px;
    font-weight: 400;

    &:not(:hover) {
      background-color: transparent !important;
    }
  }
}