@use 'src/app/globalutil';


.services_page {
  height: calc(100% - var(--header-height));

  padding: 10px;
}

.labels {
  display: flex;
  justify-content: space-around;

  p {
    font-size: 12px;
  }
}

.services_wrapper {
  padding: 5px;
}

.service {
  height: 85px;
  width: calc(100% - 20px);

  background: white;
  margin: 10px;

  border-left: 8px solid #20C2D8;

  @include globalutil.shadow;
}