@use '/src/app/globalutil';

.wrapper {
  width: 100%;
  height: calc(100% - var(--header-height));
  overflow: hidden;
  display: flex;
}

.clients {
  background-color: var(--secondary-background);
  flex: 0 0 250px;
  padding: 10px;

  display: flex;
  flex-direction: column;
}

.client_team {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.client {
  border-radius: 10px;
  margin: 3px 10px;
  padding: 5px;

  cursor: pointer;

  position: relative;
  
  display: flex;
  align-items: center;
  
  flex: 1 1 100%;

  transition: background-color 0.2s;

  p {
    font-size: 14px;
    font-weight: 300;
    margin-left: 15px;
  }
}
.selected {
  background: #E8E8E8;
}

.input {
  flex: 1 1 100%;
  max-height: 37px;
  padding: 5px 15px;
  margin: 5px;
  font-size: 14px;
  font-weight: 300;

  border: 1px solid rgba(128, 128, 128, 0.254);
  &:focus {
    border: 1px solid rgb(128, 128, 128);
  }
}

.label {
  font-weight: 100;
  color: var(--font-alt);
  font-size: 12px;
}

/* Client details cards */
.details {
  display: flex;

  flex: 3 3 100%;
  padding: 10px;

  > div:first-child {
    flex: 0 0 313px;
    display: flex;
    flex-direction: column;
  }
  > div:last-child {
    flex: 1 1 100%;
  }
}
.card {
  margin: 10px;
  padding: 10px;
  max-width: 700px;
}
.client_details {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  hr {
    margin: 10px;
    width: 85%
  }
}
.client_name {
  font-size: 18px;
  margin-top: 15px;
}
.client_contact {
  padding: 5px;
  width: 85%;

  div {
    display: flex;
    align-items: center;
    margin: 7px 0;    

    &:first-child {
      margin-top: 0;
    }

    // Label (eg phone)
    > p:first-child {
      flex: 0 0 70px;
    }

    // Value
    > p:last-child {
      width: 100%;
      font-weight: 300;
      font-size: 14px;
      color: rgb(80, 80, 80);
    }
  }
}



.notes {
  width: 100%;
  height: 100%;
  background: #FAF6F1;

  margin-top: 5px;

  padding: 8px;
  p {
    font-weight: 100;
    font-size: 13px;
  }
}

.edit {
  position: absolute;
  top: 7px;
  right: 18px;

  padding: 4px 12px;

  cursor: pointer;
  
  color: var(--font-utility);
  font-size: 14px;
  margin-top: 5px;
  font-weight: 400;

  opacity: 0.8;

  transition: background-color 200ms, opacity 200ms;

  &:hover {
    background-color: #216fdb19;
    opacity: 1;
  }
}

.metrics {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  justify-content: space-around;

  padding: 10px 25px;
}

.metric {
  width: 100%;

  > p:first-child {
    font-size: 24px;
    font-weight: 100;
  }
}


// Navigator (booked / previous)
.apps {
  padding: 0;
}

.results {
  height: calc(100% - 46px);
  display: flex;
  flex-direction: column;
  padding: 15px;
  overflow-y: auto;
}

.addClient {
  width: calc(100% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  margin: 6px auto 0 auto;
  border: 1px solid grey;
  border-radius: 1000px;

  padding: 8px 0 7px 0;

  font-size: 12px;

  cursor: pointer;

  opacity: 0.7;
  transition: background-color 200ms, opacity 200ms;

  &:hover {
    background-color: rgba(255, 255, 255, 0.302);
    opacity: 1;
  }

  > *:first-child {
    position: absolute;
    left: 15px; 
    font-size: 16px;
    font-weight: 300;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.book {
  position: absolute;
  top: 0;
  right: 0;
  height: 46px;
  display:flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;

  padding: 10px;
  cursor: pointer;

  opacity: 0.6;
  transition: opacity 200ms;  

  color: #243666;

  &:hover {
    opacity: 1;
  }

  p {
    font-size: 12px;
    border: 1px solid #243666;
    border-radius: 10px;
    padding: 4px 12px;
  }
}

.registeredIcon {
  font-size: 12px;
  color: var(--font-alt);
  font-weight: 300;

  display: flex;
  align-items: center;

  margin-left: 9px;
  margin-top: 1px;

  
  @include globalutil.tooltip;
  left: 5px;

  
  &.registered {
    color: rgb(95, 181, 251);
  }
}