.Teams {
  height: calc(100% - var(--header-height));
  display: flex;
  flex-direction: column;
}

.teams_section {
  height: 205px;
  width: 100%;
  background-color: var(--secondary-background);
  border-bottom: 1px solid var(--dividers);
  padding: 15px 30px;
  overflow-x: auto;

  p {
    font-size: 14px;
    font-weight: 300;
  }
}

.user_teams {
  width: 100%;
  padding: 15px 10px;
  display: flex;

  > * {
    margin-right: 10px;
  }
}

// Regular team
.team {
  border-left: 4px solid #F36A6A;
  width: 168px;
  height: 132px;

  opacity: 0.5;

  display: flex;
  justify-content: center;  
  align-items: center;
  flex-direction: column;

  transition: opacity 200ms;
  cursor: pointer;

  p {
    margin: 3px;
    font-size: 12px;
  }
  
  &:hover {
    opacity: 1;
  }

  &.selected {
    opacity: 1;
  }
}

// Create team
.create_team_icon {
  opacity: 0.5;
  transition: opacity 200ms;
}

.create_team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  height: 132px;
  width: 168px;
  border: 1px dashed #AAAAAA;

  cursor: pointer;
  transition: border-color 200ms;

  p { 
    font-size: 12px; 
    margin-bottom: 7px;
    opacity: 0.5;

    transition: opacity 200ms;
  }

  &:hover {
    border-color: rgb(0, 0, 0);

    .create_team_icon {
      opacity: 1;
    }

    p { 
      opacity: 1;
    }
  }
}