.Teams {
  height: calc(100% - var(--header-height));
  display: flex;
  flex-direction: column;
}

.select {
  color: var(--font-alt);
  font-weight: 300;
  font-size: 14px;
}

.teams_section {
  height: 205px;
  width: 100%;
  background-color: var(--secondary-background);
  border-bottom: 1px solid var(--dividers);
  padding: 15px 30px;
  overflow-x: auto;
  overflow-y: hidden;

  flex: 0 0 205px;

  p {
    font-size: 14px;
    font-weight: 300;
  }
}

.user_teams {
  width: 100%;
  padding: 15px 10px;
  display: flex;

  > * {
    margin-right: 10px;
  }
}

// Regular team
.team {
  border-left: 4px solid #F36A6A;
  width: 168px;
  height: 132px;

  opacity: 0.5;

  display: flex;
  justify-content: center;  
  align-items: center;
  flex-direction: column;

  transition: opacity 200ms;
  cursor: pointer;

  p {
    margin: 3px;
    font-size: 12px;
  }
  
  &:hover {
    opacity: 1;
  }

  &.selected {
    opacity: 1;
  }
}

// Create team
.create_team_icon {
  opacity: 0.5;
  transition: opacity 200ms;
}

.create_team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  height: 132px;
  width: 168px;
  border: 1px dashed #AAAAAA;

  cursor: pointer;
  transition: border-color 200ms;

  p { 
    font-size: 12px; 
    margin-bottom: 7px;
    opacity: 0.5;

    transition: opacity 200ms;
  }

  &:hover {
    border-color: rgb(0, 0, 0);

    .create_team_icon {
      opacity: 1;
    }

    p { 
      opacity: 1;
    }
  }
}

.team_overview {
  width: 100%;
  height: 100%;

  padding: 15px;

  overflow: hidden;
  display: flex;

  > div {
    width: 100%;
    max-height: 900px;
    display: flex;
    flex-direction: column;
  }

  > div.left {
    width: 375px;
    flex: 0 0 375px;

    > div:first-child {
      max-height: 270px;
    }
  }

}

.card {
  margin: 10px;
  height: 100%;
}


// Card content (sections)
.overview {
  text-align: center;

  padding-top: 20px;

  h2 {
    font-size: 22px;
    font-weight: 400;
    margin: 5px 0 15px 0;
  }
  hr {
    width: 80%;
    margin: 19px auto;
  }

  > div {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;

    > div {
      > p {
        font-size: 18px;
        font-weight: 300;
      }
      > p:last-child {
        font-size: 12px;
        margin-top: 4px;
        color: var(--font-alt);
        font-weight: 100;
      }
    }
  }
}