.loadingblock {
  width: 100%;
  height: 100%;
  background: rgb(154, 154, 154);

  position: relative;
  overflow: hidden;
}

.loadingswipe {
  height: 140%;
  width: 140px;

  position: absolute;
  left: 500px;
  top: -20%;
  rotate: 15deg;
  filter: blur(100px);
  background-color: white;

  &:first-of-type {
    animation: swipe 1200ms infinite;
  }
  &:last-of-type {
    filter: blur(180px);
    rotate: 45deg;
  }
}

@keyframes swipe {
  0% {
    left: -30%;
  }
  100% {
    left: 130%;
  }
}