.wrapper {
  width: 100%;
  height: calc(100% - var(--header-height));
  overflow: hidden;
  display: flex;
}

.clients {
  background-color: var(--secondary-background);
  flex: 1 1 300px;
  min-width: 250px;
  padding: 10px;
}

.details {
  flex: 3 3 100%;
}

.client {
  border-radius: 10px;
  margin: 10px;
  padding: 5px;

  width: 100%;

  p {
    font-size: 14px;

  }
}