.login {
  position: absolute;
  height: 100vh;
  width: 100vw;

  background: linear-gradient(180deg, #262626 0%, #000000 0.01%, rgba(12, 16, 19, 0.97) 75%, #000000 100%);

  display: flex;
  justify-content: center;
  align-items: center;
  
  color: var(--font-on-dark);
  font-weight: 100;
}

.loginBox {
  aspect-ratio: 10 / 7;

  height: 55vw;
  min-height: 600px;
  max-height: 710px;

  display: flex;

  background: linear-gradient(170.85deg, #262626 -4.1%, #000000 135.31%);
  border: 1px solid rgba(52, 52, 52, 0.53);
  border-radius: 30px;  

  p {
    font-size: 15px;
  }

  // Left & right side even
  > div {
    width: 50%;
  }

  

  overflow: hidden;
}


.forms {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 300px;

  .input {
    margin-top: 4px;
  }
}