.appointmentForm {
  width: 381px;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.appointmentOptions {
  width: 80%;
  margin: 0 auto;
  text-align: center;

  display: flex;
  flex-direction: column;

  > * {
    margin: 6px 0;
    &:first-child { margin-top: 16px }
    &:last-child { margin-bottom: 16px }
  }

  > p {
    font-size: 14px;
  }
}

.appointmentDate {
  color: var(--font-alt);
  margin: 12px 0;
  font-size: 12px;
}

.warning {
  color: #CE4840;
  margin: 12px 0;
  font-size: 11px;
}

.option {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 6px;

  > * {
    margin-right: 15px;
  }
  
  transition: background-color 200ms;
  
  &:hover {
    background: rgb(227, 227, 227);
  }
}

.service {
  padding: 15px 8px;
  margin: 2px;

  border-left: 5px solid;
}

.selectedOption {
  display: flex;
  align-items: center;

  > * {
    margin-right: 8px;
  }
}

.multipleOption {
  opacity: 0.5;
  border: 1px solid transparent;
  transition: opacity 200ms;

  position: relative;

  > *:first-child {
    * {
      border: 2px solid transparent;
      transition: border-color 200ms;
    }
  }

  &:hover {
    opacity: 0.8;
  }
}

.multipleSelected {
  opacity: 1 !important;

  > .checked {
    opacity: 1;
  }

  > *:first-child {
    * {
      border-color: var(--font-utility);
    }
  }
}

.checked {
  position: absolute;

  right: 5px;
  opacity: 0;
  color: var(--font-utility);
  transition: opacity 200ms;
}

.dateInput {
  border: 1px solid grey;
  border-radius: 5px;

  padding: 0 12px;
  
  width: 100%;
  height: 36px;
}

.timeSelect {
  display: flex;
  align-items: center;

  > * {
    margin: 0 2px;

    flex-shrink: 1;
    flex-grow: 1;
    
    &:first-child { 
      margin-left: 0;
    }
    &:nth-child(3) {
      flex-basis: 500px;
    }
    &:last-child { 
      margin-right: 0;
      flex-basis: 800px;
    }
  }
}

.delete {
  display: flex;
  align-items: center;
  font-weight: 500;
  
  color: #a8241d;

  opacity: 0.8;
  transition: opacity 200ms;
  cursor: pointer;
  
  font-size: 16px;

  margin: 20px 0;
  
  &:hover {
    opacity: 1;
  }
  > *:first-child {
    margin-right: 8px;
  }

}

.confirmDelete {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 10px auto 20px auto;

  p {
    font-size: 12px;
    margin-top: 40px;
  }
  > p:first-child {
    text-align: center;
    font-size: 14px;
    margin-top: 0;
    color: rgb(188, 48, 48);
  }
}

.ispaid {
  display: flex;
  justify-content: center;
  align-content: center;

  margin-top: 15px;


  label {
    font-size: 14px;
    cursor: pointer;
  }
  
  > input {
    margin-left: 10px;
    cursor: pointer;
  }
}

.durationSelect {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 10px 0;

  padding: 0 40px;

  font-weight: 300;
  font-size: 18px;

  > *:not(p) {
    cursor: pointer;
    color: grey;
    font-size: 20px;
    
    transition: color 200ms;
    &:hover {
      color: black;
    }
  }
}

.assignees {
  position: relative;

  left: 30px;
  width: 120px;

  display: flex;
  align-items: center;

  > div {
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-left: 2px;

    > p {
      opacity: 0;
      position: absolute;
      bottom: -20px;
      pointer-events: none;
      white-space: nowrap;

      background: rgb(115, 115, 115);
      border-radius: 3px;
      padding: 2px 5px;
      font-size: 10px;
      font-weight: 300;
      color: var(--font-on-dark);
    }
    &:hover > p {
      opacity: 1;
    }
  }
}

.colorSelect {
  display: flex;
  justify-content: center;
  align-items: center;

  > *:first-child {
    opacity: 0.8;
    transition: opacity 200ms, scale 200ms, rotate 200ms;
    cursor: pointer;

    margin: 0 15px;

    &:hover { 
      opacity: 1;
      scale: 1.1;
    }

    &:active {
      rotate: 30deg;
    }
  }
}

.cost {
  display: flex;
  align-items: center;
  position: relative;

  > p {
    position: absolute;
    left: 12px;
    font-size: 12px;
  }
}

// Updating existing appointments
.updateAppointment {
  padding: 0 20px;
  font-size: 12px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  justify-content: center;

  label {
    margin-left: 8px;
    cursor: pointer;
  }
}

.dateSelect {
  margin-top: 8px;
  
  p {
    margin: 3px 0;
  }
}

p.warning {
  color: red;
  margin-top: 10px;
}