.Modal {
  display: flex;
  justify-content: center;
  align-items: center;
  
  position: fixed;
  background: rgba(0, 0, 0, 0.465);
  z-index: 15;

  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;

  overflow: hidden;
}


.Modal-box {
  min-height: 200px;
  min-width: 200px;
  height: fit-content;
  width: fit-content;

  max-height: 95%;
  max-width: 95%;

  border-radius: 10px;
  padding-bottom: 4px;
}


.Modal-header {
  margin: 8px;
}
.Modal-header h2 {
  font-weight: 3200;
  font-size: 22px;
}
.Modal-header hr {
  opacity: 0.4;
  width: 95%;
  margin: 8px auto;

  border: none;
  border-top: 1px solid grey;

}

.Modal-close {
  display: flex;
  align-items: center;
  margin: 10px auto;
  width: fit-content;
  cursor: pointer;
}
.Modal-close > *:first-child {
  opacity: 0.4;  
}
.Modal-close > p {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 100;
}