.Calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  max-width: 650px;
  max-height: 650px;

  padding: 10px;
}

.Calendar-reset {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  line-height: normal;
}

.Calendar-reset p {
  font-size: 14px;
  margin-right: 25px;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.2s;
}
.Calendar-reset p:hover {
  opacity: 1;
}

.Calendar-period {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 22px;
  font-weight: 200;

  flex-grow: 0;
  flex-shrink: 0;

  width: 100%;
  height: 30px;

  padding-right: 25px;
  padding-left: 15px;
  margin-bottom: 5px;
}

.Calendar-period-month {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Calendar-period-month h2 {
  margin: 0 6px;
  width: 103px;
}

.Calendar-days {
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-grow: 0;
  flex-shrink: 0;

  height: fit-content;
  width: 100%;

  margin-top: 3px;
}

.Calendar-days > p {
  width: 100%;
  font-weight: 100;
  font-size: clamp(10px, 16px, 1.5vh);
}

.Calendar-fields-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}