.Day {
  display: flex;
  justify-content: center;
  align-items: center;

  width: calc(100% / 7);
  height: calc(100% / 6);
  max-width: calc(100% / 7);
  max-height: calc(100% / 6);

  padding: 0.2vh;
}

.Day-content {
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  background: #302D2D;
  border-radius: 8px;
  
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;

  overflow:hidden;
}

.Day p {
  font-size: clamp(10px, 16px, 1.5vh);
  font-weight: 200;
}


/* Conditional Styling */
.Day-content.out-of-view {
  opacity: 0.4;
}
.Day-content.ss {
  background: rgba(14, 52, 77, 0.637);
}

.Day-content-flash {
  position: absolute;
  z-index: 0;

  color: rgba(255, 255, 255, 0.2);
}
.Day-content.session p {
  position: absolute;
  z-index: 1;
}
.Day-content.today {
  color: rgb(79, 184, 255);
  background: rgba(64, 130, 174, 0.263);
}
.Day-content.today p {
  font-weight: 700;
}
.Day-content.session {
  background: rgba(37, 107, 91, 0.294);
}

/* Next or previous month reset when day number is the same */
.Day-content.today.out-of-view {
  color: white;
  background: #302D2D;
}
.Day-content.today.out-of-view.ss {
  background: rgba(14, 52, 77, 0.637);
}
.Day-content.today.out-of-view p {
  font-weight: 200;
}

.Day-content.selected {
  border: 1px solid rgba(128, 128, 128, 0.6);
}