.button {
  border: 1px solid #777777;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  width: 100%;
  padding: 10px 0;

  opacity: 0.9;

  background-color: transparent;
  transition: background-color 250ms, border-color 250ms, opacity 250ms;

  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
    border-color: #a5a5a5;
    opacity: 1;
  }

  > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    position: absolute;
    left: 8px;
  }

  p {
    font-size: 14px;
  }

  &.loading {
    pointer-events: none;
    animation: loading 800ms linear infinite;
  }
}

.spinner {
  margin: 100px auto;
  width: 20px;
  height: 20px;
  position: absolute;
  left: calc(100% + 20px);
  border-radius: 50%;
  border: 1px solid #d5d5d5;
  border-top-color: #333;
  border-right-color: #333;
  border-left-color: #333;
  animation: rotate 850ms infinite linear;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.8;
  }
}