.button {
  border: 1px solid #777777;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  width: 100%;
  padding: 11px 0;

  opacity: 0.9;

  background-color: transparent;
  transition: background-color 250ms, border-color 250ms, opacity 250ms;

  // Light mode overrides
  &.light {
    border-color: #cfcfcf;
    p {
      color: grey;
      transition: color 200ms;
    }

    &:hover {
      p {
        color: rgb(52, 52, 52);
      }
    }
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
    border-color: #a5a5a5;
    opacity: 1;
  }

  > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    position: absolute;
    left: 8px;
  }

  p {
    font-size: 14px;
  }

  &.loading {
    pointer-events: none;
    animation: loading 800ms linear infinite;
  }

  
}

@keyframes loading {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.8;
  }
}