@use '/src/app/globalutil';

.Prefs {
  width: 100%;
  height: 100%;

  overflow: auto;

  display: flex;
  flex-direction: column;

  > p:first-child {
    margin: 12px;
    padding-left: 10px;
    font-size: 14px;
    color: var(--font-alt);
  }
}

.settings {
  width: 100%;
  padding: 5px 15px;
  margin-bottom: 25px;

  white-space: pre-wrap;
  p {
    max-width: 100%;
  }
}

.adminOptions {
  padding: 20px;
  
  p { 
    font-size: 14px;
  }
}

.iconButton {
  display: flex;
  align-items: center;

  > *:not(:first-child) {
    margin-left: 10px;
  }
}

.removeTeam {
  color: rgb(126, 5, 5);
  cursor: pointer;

  opacity: 0.8;
  transition: opacity 200ms;
  &:hover {
    opacity: 1;
  }
}

.ClientList {
  width: 100%;
  height: 100%;

  overflow-y: auto;

  display: flex;
  flex-direction: column;

  .header {
    padding-left: 90px;
    text-align: center;
    padding-right: 0;

    > p {
      width: 100%;
    }
  }
}

.StaffList {
  width: 100%;
  height: 100%;

  overflow-y: auto;

  display: flex;
  flex-direction: column;

  position: relative;

  .header {
    padding-left: 90px;
    text-align: center;
    padding-right: 0;
    position: relative;

    > p {
      width: 100%;
    }
  }
}


.header {
  display: flex;
  justify-content: flex-start;
  padding: 12px 20px;
  border-bottom: 1px solid var(--dividers);

  font-size: 13px;
  font-weight: 300;

  p {
    width:fit-content;
  }
}

.client {
  display: flex;
  align-items: center;
  justify-content: space-around;

  font-weight: 300;
  font-size: 12px;

  height: 30px;

  margin: 4px auto;

  width: 100%;
  position: relative;

  display: flex;
  align-items: center;

  > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 0 0 30px;

    margin-left: 30px;
  }
  > div:last-child {
    display: flex;
    width: 100%;
    height: 100%;

    justify-content: space-around;
    align-items: center;

    padding-left: 30px;
    text-align: center;

    > p {
      width: 100%;
    }
  }
}
.client:nth-of-type(2) {
  margin-top: 10px;
}

.BookingSitePrefs {
  display: flex;
  flex-direction: column;
}

.live {
  display: flex;
  align-items: center;
  margin-left: 5px;

  p {
    margin-left: 5px;
    color: rgb(48, 186, 10);
    font-weight: 400;
    font-size: 11px;
    letter-spacing: .05em;
    line-height: 0;
    
    &:first-child {
      font-size: 16px;
    }
  }
}

.Services {
  height: 100%;
  width: 100%;

  overflow-y: auto;

  display: flex;
  flex-direction: column;
}


.Availability {
  width: 100%;
  height: 100%;

  border-radius: 10px;

  display: flex;
  flex-direction: column;

  .header { 
    justify-content: flex-start; 
    p { 
      width: fit-content; 
      padding-left: 20px;
    }
  }
}

.modal {
  overflow:hidden;
  
  width: calc(65vw - 206px);
  height: calc(65vh - 54px);
  min-width: 600px;
  max-width: 600px;
}

.staff_content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  
  height: 100%;
}

.staff_details {
  display: flex;
  align-items: center;
  position: relative;
  
  padding: 25px 20px;
  border-bottom: 1px solid var(--dividers);

  > * { margin-right: 20px}

  ul {
    list-style-type: none;
    padding: 3px 8px;
  }
  li {
    font-size: 12px;
    color: var(--font-alt);
    font-weight: 300;

    display: flex;
    align-items: center;

    > * { margin: 3px 10px 3px 0}
  }
}

.staff_name {
  display: flex;
  align-items: center;

  > div {
    font-size: 12px;
    color: var(--font-alt);
    font-weight: 300;

    display: flex;
    align-items: center;

    margin-left: 9px;
    margin-top: 1px;

    @include globalutil.tooltip;
    
    &.registered {
      color: rgb(95, 181, 251);
    }
  }
}

.bookingSitePrefs {
  width: 381px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  > p {
    margin-bottom: 3px;
  }

  .periodInput {
    width: 60px;
  }
}

.createBookingSite {
  width: 40%;
  padding: 10px;
  font-size: 14px;
}

.bookingSiteOverview {
  background-color: white;
  width: 100%;
  min-height: 50px;
  border-radius: 10px;
  box-shadow: 0 5px 12px -8px rgba(128, 128, 128, 0.7);
  margin: 5px 0;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;

  > div {
    display: flex;
    align-items: center;
  }

  .path {
    font-weight: 300;
    color: rgba(128, 128, 128, 0.8);
    font-size: 12px;
    margin-right: 3px;
  }
}

.confirmDeleteBookingSite {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;

  .warning {
    margin: 15px 0;
    font-size: 18px;
  }
  p {
    margin: 10px 0;
    font-size: 14px;
    font-weight: 300;
  }
}

.durationSelect {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 10px 0; 

  padding: 0 40px;

  font-weight: 300;
  font-size: 20px;

  > *:not(p) {
    cursor: pointer;
    color: grey;
    font-size: 20px;

    margin: 0 10px;
    
    transition: color 200ms;
    &:hover {
      color: black;
    }
  }
}

.bookingWarning {
  margin-top: 15px; 
  margin-left: 30px;
  color: rgb(231, 67, 26);
  font-size: 12px;
  font-weight: 300;
}

.availabilityForm {
  width: 381px;
  min-height: 150px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 15px;
  padding-bottom: 0;

  // Weekday Name
  > p:first-child {
    margin-bottom: 15px;
  }
  
}

.formSlice {
  text-align: center;
  position: relative;

  margin: 4px auto;
  padding: 12px;

  border: 1px solid rgba(128, 128, 128, 0.193);
  border-radius: 8px;

  width: 80%;

  font-size: 14px;
  font-weight: 300;
}

.removeSlice {
  position: absolute;
  right: 12px;
  top: 0;
  height: 100%;
  width: 15px;

  color: red;
  
  cursor: pointer;
  opacity: 0.6;
  scale: 0.9;

  
  transition: opacity 200ms, scale 200ms, rotate 200ms;

  &:hover {
    opacity: 1;
    scale: 1.2;
    rotate: 5deg;
  }
}

.addSlice {
  width: 50%;
  border: 1px solid rgba(93, 96, 106, 0.343);
  border-radius: 10px;
  padding: 10px;
  font-size: 12px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 9px;

  position: relative;

  opacity: 0.6;
  transition: opacity 200ms, scale 200ms;
 

  > *:first-child {
    position: absolute;
    left: 15px; 
    width: 17px;
    height: 100%;
    top: 0;
  }

  @include globalutil.light_shadow;
}

.addSlice.valid {
  opacity: 0.8;
  cursor: pointer;
  color: rgba(2, 45, 2);
  border-color: rgba(2, 45, 2, 0.2);

  &:hover {
    opacity: 1;
    scale: 1.02;
  }
}

.periodSelect {
  border-top: 1px solid grey;
  border-bottom: 1px solid rgba(188, 182, 182, 0.338);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 20px;
  padding: 15px 0;
  background: rgba(152, 99, 8, 0.04);

  > p {
    margin: 10px 0;
    font-size: 12px;
    font-weight: 300;

    &:first-child { margin-top: 0 }
  }
}



.timeSelect {
  display: flex;
  align-items: center;

  width: 65%;

  > * {
    margin: 0 2px;

    flex-shrink: 1;
    flex-grow: 1;
    
    &:first-child { 
      margin-left: 0;
      flex-basis: 340px;
    }
    &:nth-child(3) {
      flex-basis: 400px;
    }
    &:last-child { 
      margin-right: 0;
      flex-basis: 400px;
    }
  }
}

p.warning {
  margin: 4px;
  color: rgb(255, 0, 0);

  font-weight: 300;
}

.addService {
  display: flex;
  justify-content: center;
  align-content: center;

  flex-shrink: 0;
  flex-grow: 0;
  
  cursor: pointer;
  scale: 1;
  opacity: 0.8;

  transition: box-shadow 200ms, opacity 200ms, scale 200ms;
  &:hover {
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.15);
    opacity: 1.0;
    scale: 1.05;
  }

  margin: 20px auto;

  flex-wrap: wrap;
  border: 1px solid rgb(101, 101, 101);
  border-radius: 50%;
  width: 40px;
  height: 40px;

  @include globalutil.light_shadow;
}


// Confirm team delete
.confirmDeleteModal {
  font-size: 15px;
  padding: 5px 30px;
  width: 381px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 300;

  > * {
    margin-top: 10px;
  }

  > p {
    font-size: 12px;
  }
}

.warning {
  display: flex;
  align-items: center;
  color: rgb(143, 6, 6);
  > p {
    margin-left: 8px;
  }
}

.bookable {
  background-color: #f8f8f8;
  height: 100%;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.edit_staff {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 15px;
}