.Setting {
  width: 100%;
  height: fit-content;

  display: flex;
  align-items: center;
  position: relative;

  border-bottom: 1px solid #dddddd76;

  padding: 12px;
  font-size: 12px;

  min-height: 39px;

  &:last-of-type {
    border-bottom: none;
  }
}

.label {
  font-weight: 500;
  position: absolute;
}

.value {
  position: relative;
  left: 37%;
  font-weight: 300;
  color: grey;
}

.action {
  position: absolute;
  right: 12px;
  color: var(--font-utility);
  cursor: pointer;

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  > p {
    opacity: 0.8;
    transition: opacity 200ms, background-color 200ms;
    padding: 5px 12px;
    border-radius: 3px;

    &:hover {
      opacity: 1;
      background-color: #216fdb19;
    }
  }

  
}

.toggle {
  height: 18px;
  width: 30px;

  position: relative;
  right: 6px;

  background-color: rgb(196, 195, 195);
  border-radius: 10000px;

  transition: background-color 300ms;
}
.toggle.on {
  background-color: var(--font-utility);
}

.toggle_circle {
  height: 12px;
  width: 12px;
  background: white;
  border-radius: 50%;

  position: absolute;
  top: 3px;
  left: 3px;

  transition: left 300ms, right 300ms;
}
.toggle_circle.on {
  left: 15px;
}

.loading {
  opacity: 0.6;
  pointer-events: none;
}

.editInput {
  background: rgba(255, 255, 255, 0.482);
  border-radius: 5px;
  padding: 4px 20px 4px 10px;
  font-weight: 300;

  border: 1px solid rgba(128, 128, 128, 0.216);
  
  &:focus {
    border-color: rgba(39, 135, 209, 0.611)
  }
}

.error {
  color: red;
  margin-bottom: 8px;

  &::before {
    content: '* '
  }
}