.appointmentForm {
  width: 381px;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.appointmentOptions {
  width: 80%;
  margin: 0 auto;
  text-align: center;

  > * {
    margin: 12px 0;
    &:first-child { margin-top: 16px }
  }

  > p {
    font-size: 14px;
  }
}

.appointmentDate {
  color: var(--font-alt);
  margin: 12px 0;
  font-size: 12px;
}

.warning {
  color: #CE4840;
  margin: 12px 0;
  font-size: 11px;
}

.option {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 6px 0px;

  > * {
    margin-left: 10px;
  }
  
  transition: background-color 200ms;
  
  &:hover {
    background: rgb(227, 227, 227);
  }
}