.app {
  min-height: 85px;
  width: 100%;
  background-color: var(--secondary-background);
  border-left: 2px solid #20C2D8;

  position: relative;

  padding: 7px;

  margin-bottom: 4px;

  font-weight: 300;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .date {
    font-size: 14px;
  }
  .duration {
    color: var(--font-alt);
    margin: 3px;
    font-size: 0.9em;
    font-weight: 300;
  }

  .info {
    display: flex;
    align-items: center;
    font-size: 12px;
  }

  .provider {
    margin: 4px 0 16px;
    font-size: 14px;

  }

  > div:last-child {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .edit {
      cursor: pointer;
      font-size: 12px;

      transition: opacity 200ms;
      &:hover {
        opacity: 1;
        text-decoration: underline;
      }
    }
  }
}

.paid {
  position: absolute;
  right: 10px;
  top: 8px;
  font-size: 12px !important;

  color: rgb(174, 84, 39);
}