@use 'src/app/globalutil';


.selectAgent {
  display: flex; 
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 100%;

  padding: 2px;

  .staffCard {
    width: 180px;
    height: fit-content;
    min-height: 150px;
    
    margin: 0 10px;
    padding: 0 10px;

    flex-grow: 0;
    flex-shrink: 0;

    cursor: pointer;
    transition: scale 200ms;
    &:hover {
      scale: 1.03;
    }

    flex-shrink: 0;
    flex-grow: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    white-space: pre-wrap;
    text-align: center;
  
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.22);

    > * { margin: 10px 0 }
    
    > h2 {
      font-size: 16px;
      font-weight: 400;
    }

    .credentials {
      font-size: 14px;
      font-weight: 300;
      color: rgb(98, 98, 98);
    }

    .bio {
      font-size: 12px;
      font-weight: 400;
    }
  }

}
