.main {
  display: flex;

  /* Fit to mobile safe-area */
  position: absolute;

  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;

  overflow: hidden;
  
  background-color: #EDF0F2;
}

.Navigator {
  overflow: hidden;
  background: #1F1F1F;

  flex-shrink: 0;
  flex-grow: 0;
  
  width: 206px;
}

.Content {
  width: 100%;
}

.Header {
  background: white;
  overflow: hidden;
  
  height: 54px;
  width: 100%;

  padding: 0 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}