.main {
  display: flex;

  /* Fit to mobile safe-area */
  position: absolute;

  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;

  overflow: hidden;
  
  background-color: #EDF0F2;
}

/* Left navigation bar */
.Navigator {
  overflow: hidden;
  background: #1F1F1F;

  flex-shrink: 0;
  flex-grow: 0;

  color: var(--font-on-dark);
  font-size: 24px;
  font-weight: 400;
  
  width: 206px;
}
.Navigator_logo {
  height: 54px;

  display: flex;
  align-items: center;

  border-bottom: 1px solid #464646;
}
.Navigator_logo span {
  position: relative;
  left: -22px;
}
.Navigator_logo_icon {
  position: relative;
  left: -12px;

  width: 84px;
  height: 63px;
}

.Navigator_links p {
  font-weight: 300;
  font-size: 14px;

  padding: 15px 40px;
  margin: 10px 0;

  transition: background-color 200ms;
}
.Navigator_links p.active {
  background: #d9d9d917;
}

/* Right side content */
.Content {
  width: 100%;
}

/* Title and avatar w/notifications */
.Header {
  background: white;
  overflow: hidden;
  
  height: 54px;
  width: 100%;

  padding: 0 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #DDDDDD;
}