.dashboard {
  height: calc(100% - var(--header-height));
}

.header {
  width: 100%;
  height: 100%; 

  display: flex;
  align-content: center;

  white-space: nowrap;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    padding: 8px 30px;
    margin: 5px 0;
    border-right: 1px solid var(--dividers);
  }
}

.headerLarge {
  font-size: 24px;
  font-weight: 100;
}

.content {
  padding: 20px;
  height: calc(100% - var(--secondary-header-height));
  display: flex;
  flex-direction: column;
}


/* Appointment Cards */
.appointments {
  display: flex;
  align-items: center;
}
.appointment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 8px;
  padding-bottom: 2px;
  
  height: 150px;
  width: 260px;
  border-left: 4px solid transparent;
}
.app_header {
  display: flex;
  justify-content: space-between;
}
p.alt {
  font-size: 14px;
  color: #787878;
  margin-top: 2px;
}
.client {
  margin-left: 5px;
  padding-left: 10px;
  border-left: 2px solid var(--dividers);
}
.actions {
  display: flex;
  justify-content: space-between;

  // Actions (wrapper for left and wrapper for right)
  > div {
    display: flex;
    align-items: center;
  }
}

.action {
  transition: background-color 200ms;
  cursor: pointer;

  margin: 0 5px;
  padding: 5px;
  border-radius: 10px;

  p {
    font-size: 10px;
    margin-top: 3px;
  }

  &:hover {
    background: rgb(241, 241, 241);
  }

  // Icon
  > div {
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 24px;
    height: 24px;
    border-radius: 12px;
  }
}
.action_icon {
  color: var(--font-on-dark);
}

/* Weekly Overview */
.weekview_card {
  width: 100%;
  height: 100%;

  padding: 10px;

  display: flex;
  flex-direction: column;
}
.weekdays {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-around;
  text-align: center;

  flex: 0 0 35px;

  p:last-child {
    font-weight: 300;
    font-size: 0.7em;
    margin-top: 2px;
    color: rgb(160, 157, 157);
  }
}


/* Hourly breakdown */
.hourly {
  height: 100%;
  width: 100%;

  border-top: 1px solid var(--dividers);
  margin-top: 7px;
}